<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="navigation"
      [mode]="side">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['summary']" routerLinkActive="mat-raised-button mat-button-base">Dashboard</a>
      <a mat-list-item [routerLink]="['task']" routerLinkActive="mat-raised-button mat-button-base">Task</a>
      <a mat-list-item [routerLink]="['project']" routerLinkActive="mat-raised-button mat-button-base">Project</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PMS</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
