<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'myTask'" routerLinkActive="active">My task</a ></li>
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'createTask'" routerLinkActive="active">Create task</a ></li>
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'myCalendar'" routerLinkActive="active">My Calendar</a ></li>
    </ol>
  </nav>
  <router-outlet></router-outlet>
