<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'joinProject'" routerLinkActive="active">Enter Project With Passcode</a ></li>
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'joinedProject'" routerLinkActive="active">My Projects</a ></li>
      <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="'createProject'" routerLinkActive="active">Create Project</a ></li>
    </ol>
  </nav>
  <router-outlet></router-outlet>

