<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Your project">
      <ng-template matTabContent>
          <mat-grid-list cols="3">
            <mat-grid-tile> <project-item></project-item></mat-grid-tile>
            <mat-grid-tile> <project-item></project-item></mat-grid-tile>
            <mat-grid-tile> <project-item></project-item></mat-grid-tile>
            <mat-grid-tile> <project-item></project-item></mat-grid-tile>
          </mat-grid-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Search project">
      <ng-template matTabContent>
        The Second Content
      </ng-template>
    </mat-tab>
  </mat-tab-group>