<div class="card card-panel hoverable">
    <div class="top-indicator" style="background: rgb(246, 71, 215);"></div>
    <div class="top-row">
        <div class="half" style="width: 160px;">
            <div class="category" style="background: rgb(246, 71, 215);"> hihi </div>
        </div>

    </div>
    <div class="heading-container">
        <span>hihi</span>
    </div>
    <div class="bottom-row">
        <div class="half">
            <div class="members">
                <div class="member-flex">
                    <span>
                        <div class="profile-dp" style="background: rgb(255, 92, 150);">B D</div>
                    </span>
                    <span class="user-name">Bui Dung</span></div>
            </div>
        </div>
        <div class="half deadline-wrapper">
            <div class="deadline">
                <span>Ongoing</span>
                <span
                    style="position: absolute;bottom: 10px;right: 10px;position: absolute;bottom: -15px;right: 10px;font-size: 60px;letter-spacing: -2px;">
                    <span><span style="color:#737373;">..</span><span style="color:green;">.</span></span></span>
            </div>
        </div>
    </div>
</div>