.card {
    position: relative;
    margin: .5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.card-panel {
    transition: box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
}
.hoverable {
    transition: box-shadow .25s;
}
.top-indicator {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
}