.prgm {
  cursor: pointer !important;
}
.leader{
  font-weight: bold;
}
.list-member .mat-list-item-content{
  display: flex;
  justify-content: space-between !important;
  padding-left: 0px !important;
}
.haft-width{
  display: block;
    width: 50%;
}
.card{
  height: 100%;
}

.action-button.mat-button.mat-button-base{
  border: 1px solid gray;
}