.prgm {
  cursor: pointer !important;
}
.leader{
  font-weight: bold;
}
.mat-list-item-content{
  display: flex;
  justify-content: space-between !important;
}
.haft-width{
  display: block;
    width: 50%;
}